body {
    background: #C1F8F9;  
}


.btn {
    background: #BDBDEE;
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
    position: relative;
}

#btn-section {
    text-align: center;
    width: 100%;
    position: relative;
    background: #EDF8BE;
    border: 1px solid black;
}   


.title {
    background: #EDF8BE;
    text-align: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    width: 100%;
}


.btn:hover {
    cursor: pointer;
    background: #8686EF;
}


.content {
    position: relative;
    color: white;
}

#restart {
    position: relative;
    color: white;
    text-align: center;
}


@media only screen and (min-width:801px) {


    .btn {
        width: 230px;
        height: 100px;
        margin: 10px;
    } 

    #btn-section {
        text-align: center;
        height: 100%;
        top: 30px;   
    }

    #restart {
        top: 50px;;
        left: 37%;
        font-size: 30px;
    }

    .content {
        top: 20%;
        font-size: 50px;
    }

    .title {
        font-size: 30px;
    }

}


@media only screen and (min-width:551px) and (max-width: 800px) {
    
    .btn {
        width: 150px;
        height: 50px;
        margin: 10px;
    } 

    #btn-section {
        text-align: center;
        height: 100%;
        top: 30px;
    }

    #restart {
        top: 50px;;
        left: 37%;
        font-size: 15px;
    }

    .content {
        top: 20%;
        font-size: 25px;
    }
        
}

@media only screen and (max-width: 551px) {
    
    .btn {
        width: 100px;
        height: 50px;
        margin: 10px; 
    } 

    #btn-section {
        text-align: center;
        height: 100%;
        top: 30px;
        left: 0px;
        margin: 5px;   
    }

    #restart {
        top: 50px;;
        left: 37%;
        font-size: 15px;
    }

    .content {
        top: 20%;
        font-size: 25px;
    }
        
}
